*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 900px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.arriba{
    width: 900px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}
.imagen{
    width: 100px;
    height: 71px;
}
#menu{
    width: 798px;
    background-color: #ffae6a;
    border-bottom: 2px solid black;
    color: white;
    display: flex;
    padding: 7px;
    gap: 50px;
    justify-content: center;
}

#titulo{
    background-color:  #f9e2b9;
    border: 1px dotted #000;
    display: flex;
    justify-content: center;
    padding: 7px;
}

.button-1{
    width: 200px;
    padding: 2px;
    background-color: white;
    border: 2px solid black;
    color: black;
    justify-content: center;
    text-align: center;
}
.contenido{
    display: flex;
}

#contenido{
    width: 798px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    min-height: 200px;
    /* gap: 10px; */
    justify-content: center;
    align-items: center;
}
.info{
    border-left: 4px solid rgb(225, 224, 224);
}
.lila{
    color: #4b21c3;
    background-color: #c3c9ff;
    width: 350px;
    height: 80px;
    align-items: center;
    justify-content: center;
    padding: 25px;

}
.foto{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid rgb(225, 224, 224);
}
.datos{
    color: rgb(152, 151, 151);
}
#sub-menu{
    width: 101px;
    border: 1px solid black;
    /* background-color: rgb(93, 93, 225); */
    flex-direction: column;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    color: black;
}
.opciones{
    width: 100px;
    height: 25px;
    background-color: #cd6a2e;
    color: white;
    text-align: center;
}
.detalle{
    width: 100px;
    height: 25px;
    border: 1px solid orange;
    color: rgb(152, 151, 151);
text-align: center;
}
#pie{
    width: 100%;
    background-color: #ffae6a;
    border: 1px solid black;
    color: black;
    padding: 7px;
    text-align: center;
}